doctype html
html(lang="pt")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel="stylesheet" href="/stylesheets/style.css")
  body
    header.hero
      .hero__inner
        p.eyebrow Engenharia Web 2026
        h1= title
        p.meta Gerado em #{date}
        a.back(href="/") Voltar a pagina principal
    main.page
      block content
